<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcome}}</p> //using with other healper passing partial as argument to it
    </body>

   {{>footer}}
</html>